<app-banner></app-banner>
<div class="row">
  <section class="main">
    <div class="cd-section" id="contactus">

	<!--     *********    CONTACT US 1     *********      -->

	<div class="contactus-1 section-image" style="background-image: url('assets/img/examples/city.jpg')">

		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<h2 class="title">Get in Touch</h2>
					<h5 class="description">You need more information? Check what other persons are saying about our product. They are very happy with their purchase.</h5>
					<div class="info info-horizontal">
						<div class="icon icon-primary">
							<i class="material-icons">pin_drop</i>
						</div>
						<div class="description">
							<h4 class="info-title">Find us at the office</h4>
              <p> Near Vaibhav theatre,<br>
                  Sanjay Nagar Main Rd,<br>
                  Sanjay Nagar,<br>
                  Bangalore
              </p>
						</div>
					</div>
					<div class="info info-horizontal">
						<div class="icon icon-primary">
							<i class="material-icons">phone</i>
						</div>
						<div class="description">
							<h4 class="info-title">Give us a ring</h4>
              <p> AIOBEE Front Desk<br>
                +91 7676480122<br>
                Mon - Sun, 9:30 AM - 08:00 PM
              </p>
						</div>
					</div>

				</div>
				<div class="col-md-5 col-md-offset-2">
					<div class="card card-contact">
            <div class="header header-raised header-primary text-center">
              <h4 class="card-title">Contact Us</h4>
            </div>
						<app-contact-form></app-contact-form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
  </section>
</div>
