<app-banner></app-banner>
<div class="row">
  <div class="main">
    <div class="container">
      <div class="row">
        <div class="cd-section">
          <div class="blogs-1">
            <div class="container">
              <div class="row">
                <div class="col-md-8 col-md-offset-2" id="branding">
                  <h1 class="text-center">Our Products &amp; Services</h1>
                  <br>
                  <div class="card card-plain card-blog text-center">
                    <h2 class="card-title">Brand Your Company
        						</h2>
                    <div class="card-image">
                      <img class="img img-raised" src="./assets/img/branding-banner.jpg" />
                    </div>
                    <br>
                    <input type="checkbox" class="read-more-state" id="service-1" />
                    <h4 class="card-description read-more-wrap">
        							Strategy - Identity - Positioning <br>
                      We put the right amount of ingredients to capture your customers heart and mind.
                      <span class="read-more-target">We have a good blend of design skills, global outlook and a gamut of experience. Which will help your customers to get attracted on your brand. We give support from design, naming conventions, hidden words meanings, naming in foreign languages or in native languages with catchy names.</span>
        						</h4>
                    <label for="service-1" class="btn btn-primary btn-round read-more-trigger"></label>
                  </div>
                </div>
                <div class="col-md-8 col-md-offset-2" id="mean">
                  <br>
                  <div class="card card-plain card-blog text-center">
                    <h2 class="card-title text-center">Showcase Your Business
                </h2>
                    <div class="card-image">
                      <img class="img img-raised" src="./assets/img/mean-banner.jpg" />
                    </div>
                    <br>
                    <input type="checkbox" class="read-more-state" id="service-2" />
                    <h5 class="card-description read-more-wrap">
                  Fast - Reliable - Responsive <br>
                  Showdown your business website to your customers. We build your website in latest
                  <span class="read-more-target">stock technologies. Which would be blazing fast, We customize your website depending upon your business style. Some they need a Single Page, some might need multi page. We are excell in many things. Spread the news about us.</span>
                </h5>
                    <label for="service-2" class="btn btn-primary btn-round read-more-trigger"></label>
                  </div>
                </div>
                <div class="col-md-8 col-md-offset-2" id="cms">
                  <br>
                  <div class="card card-plain card-blog text-center">
                    <h2 class="card-title text-center">Manage Your website
                </h2>
                    <div class="card-image">
                      <img class="img img-raised" src="./assets/img/cms-banner.jpg" />
                    </div>
                    <br>
                    <input type="checkbox" class="read-more-state" id="service-3" />
                    <h5 class="card-description read-more-wrap">
                  Easy - Quick update - No Pain<br>
                  Your business details so secure and you don't want
                  <span class="read-more-target">to share your content. We give you a platform and train you to update your own content. We love to give you freedom of building your own website. This would help you to gain and understand what the content would be perfect for your customers.</span>
                </h5>
                    <label for="service-3" class="btn btn-primary btn-round read-more-trigger"></label>
                  </div>
                </div>
                <div class="col-md-8 col-md-offset-2" id="ecommerce">
                  <br>
                  <div class="card card-plain card-blog text-center">
                    <h2 class="card-title text-center">Sell Products online
                </h2>
                    <div class="card-image">
                      <img class="img img-raised" src="./assets/img/ecommerce-banner.jpg" />
                    </div>
                    <br>
                    <input type="checkbox" class="read-more-state" id="service-4" />
                    <h5 class="card-description read-more-wrap">
                  Secure - Payment Gateway - Database <br>
                  We love when you have products to sell online. Through this you can <span class="read-more-target">reach your customers directly. We help you to sell your products online. We give you a platform to upload your products and set your prices for them. You can collabrate with your associates to sell their products too. Your customers can book and pay for the products. If they don't like it they can cancell. You might get notified and you no need to worry about refund process. We have simplified all those processes. Enjoy Shopping!</span>
                </h5>
                    <label for="service-4" class="btn btn-primary btn-round read-more-trigger"></label>
                  </div>
                </div>
                <div class="col-md-8 col-md-offset-2" id="java">
                  <br>
                  <div class="card card-plain card-blog text-center">
                    <h2 class="card-title text-center">Enterprise Applications
                </h2>
                    <div class="card-image">
                      <img class="img img-raised" src="./assets/img/java-banner.jpg" />
                    </div>
                    <br>
                    <input type="checkbox" class="read-more-state" id="service-5" />
                    <h5 class="card-description read-more-wrap">
                  Reliable - Enterprise - Total package <br>
                  If your business is big and you need an application of your business module. We are here <span class="read-more-target">to bring you reliable and secure applications. We develop desktop and web applications for your business module. These are totally customized on your request. We design and deliver on time. You will love our works!</span>
                </h5>
                    <label for="service-5" class="btn btn-primary btn-round read-more-trigger"></label>
                  </div>
                </div>
                <div class="col-md-8 col-md-offset-2" id="xampp">
                  <br>
                  <div class="card card-plain card-blog text-center">
                    <h2 class="card-title text-center">Budget Enterprise Application
                </h2>
                    <div class="card-image">
                      <img class="img img-raised" src="./assets/img/xampp-banner.jpg" />
                    </div>
                    <br>
                    <input type="checkbox" class="read-more-state" id="service-6" />
                    <h5 class="card-description read-more-wrap">
                  On Your Budget - Secure - Reliable <br>
                  Don't be scared of the prices because we understand your situation. You would need a application <span class="read-more-target">which would want to work on your premises alone. We build and give you a enterprise application on your budget. The Quality of the product is not compromised. We deliver every projects on time. </span>
                </h5>
                    <label for="service-6" class="btn btn-primary btn-round read-more-trigger"></label>
                  </div>
                </div>
                <div class="col-md-8 col-md-offset-2" id="mobile">
                  <br>
                  <div class="card card-plain card-blog text-center">
                    <h2 class="card-title text-center">Mobile Application
                </h2>
                    <div class="card-image">
                      <img class="img img-raised" src="./assets/img/mobile-banner.jpg" />
                    </div>
                    <br>
                    <input type="checkbox" class="read-more-state" id="service-7" />
                    <h5 class="card-description read-more-wrap">
                  Android - iOS - AnyMobile <br>
                  We build great Smartphone independent applications. Which can run <span class="read-more-target"> on any smartphone. Android or iOs or any other mobilephone. Its just miracle we do. Yes, there is no magic about it. It's all about the stock technologies. Most other companies they will Charge you for each Android and iOS applications. But you name a mobile application its one charge here with us. Enjoy Mobility!</span>
                </h5>
                    <label for="service-7" class="btn btn-primary btn-round read-more-trigger"></label>
                  </div>
                </div>
                <div class="col-md-8 col-md-offset-2" id="cloud">
                  <br>
                  <div class="card card-plain card-blog text-center">
                    <h2 class="card-title text-center">Its Cloud
                </h2>
                    <div class="card-image">
                      <img class="img img-raised" src="./assets/img/cloud-banner.jpg" />
                    </div>
                    <br>
                    <input type="checkbox" class="read-more-state" id="service-8" />
                    <h5 class="card-description read-more-wrap">
                  Applications - Cloud - Scalable <br>
                  You have applications now. The thing you should worry is the traffic. How you <span class="read-more-target">will handle the traffic to your website. If you get thousands of people enter your application. Your application might get hang or even broke your server. That's why we bring you the service to have your application in our cloud computings. We are lead in maintaining and hosting applications in all major cloud services like Amazon, Google and Microsoft. Your application would be auto scalable. Yeah! Heard it right its automatic.</span>
                </h5>
                    <label for="service-8" class="btn btn-primary btn-round read-more-trigger"></label>
                  </div>
                </div>
                <div class="col-md-8 col-md-offset-2" id="search">
                  <br>
                  <div class="card card-plain card-blog text-center">
                    <h2 class="card-title text-center">Online Advertisement
                </h2>
                    <div class="card-image">
                      <img class="img img-raised" src="./assets/img/digital-marketing-banner.jpg" />
                    </div>
                    <br>
                    <input type="checkbox" class="read-more-state" id="service-9" />
                    <h5 class="card-description read-more-wrap">
                  Organic - Advertise - Genuine Lead <br>
                  Your application is ready and you want to mint money out <span class="read-more-target">of it from the day one. We are here you to help you to get the genuine leads. We track all your users traffic. How they come and from where they come. We help you to advertise in popular search engines like Google, Bing and Yahoo. We also help you to rank your website in your business domain. We help you to get the ROI!</span>
                </h5>
                    <label for="service-9" class="btn btn-primary btn-round read-more-trigger"></label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
