<app-banner></app-banner>
<div class="row">
	<div class="main">
		<div class="container">
			<div class="row">
				<div class="cd-section" id="teams">
					<div class="team-1" id="team-1">
						<div class="container">
							<div class="row">
								<div class="col-md-8 col-md-offset-2 text-center">
									<h2 class="title">Our Core Development Team</h2>
									<h5 class="description"></h5>
								</div>
							</div>
							<div class="row">
								<div class="col-md-3">
									<div class="card card-profile card-plain">
										<div class="card-avatar">
											<a href="">
											<img class="img" src="./assets/img/faces/marc.jpg" />
										</a>
										</div>

										<div class="card-content">
											<h4 class="card-title">Sangamesh</h4>
											<h6 class="category text-muted">Chief Technical Officer</h6>

											<p class="card-description">
												He makes the big thing small. He breaks the tough situations into simple code. He is very passionate about new techniclogies.
											</p>
											<div class="footer">
												<a href="" class="btn btn-just-icon btn-simple btn-twitter"><i class="fa fa-twitter"></i></a>
												<a href="" class="btn btn-just-icon btn-simple btn-facebook"><i class="fa fa-facebook-square"></i></a>
												<a href="" class="btn btn-just-icon btn-simple btn-google"><i class="fa fa-google"></i></a>
											</div>
										</div>
									</div>
								</div>

								<div class="col-md-3">
									<div class="card card-profile card-plain">
										<div class="card-avatar">
											<a href="">
											<img class="img" src="./assets/img/faces/kendall.jpg" />
										</a>
										</div>
										<div class="card-content">
											<h4 class="card-title">Marlyn Rose</h4>
											<h6 class="category text-muted">Chief Technical Lead</h6>
											<p class="card-description">
												She is the most charming person &amp; liberal lead. She guides her team in responsive way. They follow agile methodology and leads to success.
											</p>
											<div class="footer">
												<a href="" class="btn btn-just-icon btn-simple btn-twitter"><i class="fa fa-twitter"></i></a>
												<a href="" class="btn btn-just-icon btn-simple btn-dribbble"><i class="fa fa-dribbble"></i></a>
												<a href="" class="btn btn-just-icon btn-simple btn-linkedin"><i class="fa fa-linkedin"></i></a>
											</div>
										</div>
									</div>
								</div>

								<div class="col-md-3">
									<div class="card card-profile card-plain">
										<div class="card-avatar">
											<a href="">
											<img class="img" src="./assets/img/faces/christian.jpg" />
										</a>
										</div>
										<div class="card-content">
											<h4 class="card-title">Ravigouda Patil</h4>
											<h6 class="category text-muted">Associate Technical Lead</h6>
											<p class="card-description">
												He is smart in work, furious in development. His spontaneous in creativity is an added advantage for his team mates.
											</p>
											<div class="footer">
												<a href="" class="btn btn-just-icon btn-simple btn-facebook"><i class="fa fa-facebook-square"></i></a>
												<a href="" class="btn btn-just-icon btn-simple btn-dribbble"><i class="fa fa-dribbble"></i></a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="card card-profile card-plain">
										<div class="card-avatar">
											<a href="">
											<img class="img" src="./assets/img/faces/avatar.jpg" />
										</a>
										</div>
										<div class="card-content">
											<h4 class="card-title">Rebecca</h4>
											<h6 class="category text-muted">Web Developer</h6>
											<p class="card-description">
												She is a professional developer. Who is good in building web applications. She was a designer and those experience help her to build great websites.
											</p>
											<div class="footer">
												<a href="" class="btn btn-just-icon btn-simple btn-google"><i class="fa fa-google"></i></a>
												<a href="" class="btn btn-just-icon btn-simple btn-twitter"><i class="fa fa-twitter"></i></a>
												<a href="" class="btn btn-just-icon btn-simple btn-dribbble"><i class="fa fa-dribbble"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="team-2" id="team-2">
						<div class="container">
							<div class="row">
								<div class="col-md-8 col-md-offset-2 text-center">
									<h2 class="title">The Backbone Team</h2>
									<h5 class="description">This is the paragraph where you can write more details about your team. Keep you user engaged by providing meaningful information.</h5>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<div class="card card-profile card-plain">
										<div class="card-image">
											<a href="">
											<img class="img" src="./assets/img/examples/card-profile1.jpg" />
										</a>
										</div>
										<div class="card-content">
											<h4 class="card-title">Basavaraj Halasur</h4>
											<h6 class="category text-muted">Chief Executive Officer</h6>

											<div class="footer">
												<a href="" class="btn btn-just-icon btn-twitter btn-round"><i class="fa fa-twitter"></i></a>
												<a href="" class="btn btn-just-icon btn-facebook btn-round"><i class="fa fa-facebook-square"></i></a>
												<a href="" class="btn btn-just-icon btn-dribbble btn-round"><i class="fa fa-dribbble"></i></a>
											</div>
										</div>
									</div>
								</div>

								<div class="col-md-4">
									<div class="card card-profile card-plain">
										<div class="card-image">
											<a href="">
											<img class="img" src="./assets/img/examples/card-profile2.jpg" />
										</a>
										</div>

										<div class="card-content">
											<h4 class="card-title">Jagadish Dapper</h4>
											<h6 class="category text-muted">IT Director</h6>

											<div class="footer">
												<a href="" class="btn btn-just-icon btn-linkedin btn-round"><i class="fa fa-linkedin"></i></a>
												<a href="" class="btn btn-just-icon btn-facebook btn-round"><i class="fa fa-facebook-square"></i></a>
												<a href="" class="btn btn-just-icon btn-dribbble btn-round"><i class="fa fa-dribbble"></i></a>
											</div>
										</div>
									</div>
								</div>

								<div class="col-md-4">
									<div class="card card-profile card-plain">
										<div class="card-image">
											<a href="">
											<img class="img" src="./assets/img/examples/card-profile4.jpg" />
										</a>
										</div>

										<div class="card-content">
											<h4 class="card-title">Gina Andrew</h4>
											<h6 class="category text-muted">Chief Marketing Officer</h6>

											<div class="footer">
												<a href="" class="btn btn-just-icon btn-dribbble btn-round"><i class="fa fa-dribbble"></i></a>
												<a href="" class="btn btn-just-icon btn-twitter btn-round"><i class="fa fa-twitter"></i></a>
											</div>
										</div>
									</div>
								</div>

							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
