<app-banner></app-banner>
<div class="row">
  <div class="main">
    <div class="container">
      <div class="row">
        <div class="container">
          <div class="cd-section">
            <div class="blogs-1">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <h1 class="text-center">Mobile Application Development</h1>
                    <br />
                    <div class="card card-plain card-blog">
                      <div class="row">
                        <div class="col-md-5">
                          <div class="card-image">
                            <img class="img img-raised" src="./assets/img/subject/mean-cycle.jpg" />
                          </div>
                        </div>
                        <div class="col-md-7">
                          <h6 class="category text-info">Confused</h6>
                          <h3 class="card-title">What is Mobile Application?
          								</h3>
                          <p>
                            A mobile app is a software application developed specifically for use on small, wireless computing devices, such as smartphones and tablets, rather than desktop or laptop computers.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="card card-plain card-blog">
                      <div class="row">
                        <div class="col-md-7">
                          <h6 class="category text-danger">
          									Not Sure
          								</h6>
                          <h3 class="card-title">Why Mobile Application?
          								</h3>
                          <p>
                            Mobile applications are increasingly playing a vital role in business with a larger customer base as well as workforce relying on the convenience of access on-demand to information &amp; solutions
                          </p>
                          <ul>
                            <li>We are spending more time online than with any other media</li>
                            <li>We are spending much of that digital time on smart mobile devices</li>
                            <li>Time spent per day on mobile devices has increased 575% in three years</li>
                            <li>80% of the time spent on mobile devices is spent using apps</li>
                            <li>'Internet of Things' gadgets are mobile apps centric</li>
                            <li>Apps offer a user experience which even 'Responsive Websites' are unable to provide.</li>
                          </ul>
                        </div>
                        <div class="col-md-5">
                          <div class="card-image">
                            <img class="img img-raised" src="./assets/img/subject/mean-cycle.jpg" />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card card-plain card-blog">
                      <div class="row">
                        <div class="col-md-5">
                          <div class="card-image">
                            <img class="img img-raised" src="./assets/img/subject/mean-cycle.jpg" />
                          </div>
                        </div>
                        <div class="col-md-7">
                          <h6 class="category text-info">
          									Big Help
          								</h6>
                          <h3 class="card-title">How Mobile Applications Helps?
          								</h3>
                          <p>
                            apps are becoming the dominant form of digital interaction. The customers in today's world are on the move and they're using mobile application platforms to get there. Whether they use mobile phones, tablets or other smart mobile devices - they have all
                            the information they need. That's why mobile apps are so much important in today's business environment. <br><br> No matter what your business is, a mobile app can help you get and retain customers.
                            We all know that the first place customers go to search for a product or service is online. If your business is available online, and you have an app that users can download to their devices, your business will make a really
                            good impression. At a glance they will be able to see and open your app and interact/ purchase from your business. <br><br>
                            Here are some of the biggest benefits of mobile apps for businesses.
                          </p>
                          <ul>
                            <li>Reinforce your brand</li>
                            <li>Enhance your visibility</li>
                            <li>Increase accessibility</li>
                            <li>Augment online sales</li>
                            <li>Increase exposure across mobile devices</li>
                            <li>Connect you with 'on-the-go' consumers</li>
                            <li>Build a database of prospects/clients</li>
                            <li>Create a Direct Marketing Channel</li>
                            <li>Mobile Apps will allow you to engage with your customers in a whole new way</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="card card-plain card-blog">
                      <div class="row">
                        <div class="col-md-7">
                          <h6 class="category text-success">
          									Wow So Many
          								</h6>
                          <h3 class="card-title">Who Else Use?
          								</h3>
                          <div>
                            Each and every company who wants to engage their customers with their company, they already have built their application. Even small scale companies starting to build their mobile application.
                          </div>
                        </div>
                        <div class="col-md-5">
                          <div class="card-image">
                            <img class="img img-raised" src="./assets/img/subject/mean-cycle.jpg" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
