<footer class="footer footer-black footer-big">
	<div class="container">

		<div class="content">
			<div class="row">
				<div class="col-md-4">
					<h5>About Us</h5>
					<p>AIOBEe is a startup that creates design tools that make the web development process faster and easier. </p> <p>We love the web and care deeply for how users interact with a digital product. We power businesses and individuals to create better looking web projects around the world. </p>
				</div>

				<div class="col-md-4">
					<h5>Social Feed</h5>
					<div class="social-feed">
						<div class="feed-line">
							<i class="fa fa-twitter"></i>
							<p>Building AngularFire Application. We handle it check sample <a href="https://realtyxplore.in">RealtyXplore</a></p>
						</div>
						<div class="feed-line">
							<i class="fa fa-twitter"></i>
							<p>Build CMS in your native. Like one of these <a href="http://tayinudi.com">Tayinudi</a></p>
						</div>
						<div class="feed-line">
							<i class="fa fa-facebook-square"></i>
							<p>A collection of 25 stunning sites that you can use for your inspiration.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<h5>Our Lovely Team</h5>
					<div class="gallery-feed">
						<img src="./assets/img/faces/card-profile6-square.jpg" class="img img-raised img-rounded" alt="" />
						<img src="./assets/img/faces/christian.jpg" class="img img-raised img-rounded" alt="" />
						<img src="./assets/img/faces/card-profile4-square.jpg" class="img img-raised img-rounded" alt="" />
						<img src="./assets/img/faces/card-profile1-square.jpg" class="img img-raised img-rounded" alt="" />
						<img src="./assets/img/faces/marc.jpg" class="img img-raised img-rounded" alt="" />
						<img src="./assets/img/faces/kendall.jpg" class="img img-raised img-rounded" alt="" />
						<img src="./assets/img/faces/card-profile5-square.jpg" class="img img-raised img-rounded" alt="" />
						<img src="./assets/img/faces/card-profile2-square.jpg" class="img img-raised img-rounded" alt="" />
					</div>
				</div>
			</div>
		</div>
		<hr />
		<ul class="pull-left">
			<li>
				<a [routerLink]="['/']">
				   Home
				</a>
			</li>
			<li>
				<a [routerLink]="['/about']">
					About
				</a>
			</li>
			<li>
				<a [routerLink]="['/services']">
				   Services
				</a>
			</li>
			<li>
				<a [routerLink]="['/contact']">
					Contact
				</a>
			</li>
		</ul>
		<div class="copyright pull-right">
			Copyright &copy; AIOBEe All Rights Reserved.
		</div>
	</div>
</footer>
