<!-- School test
 <div *ngFor="let school of schools">
<h1>{{school.name}}</h1>
<div [innerHTML]="school.extraCurricular"></div>
  <div *ngFor="let image of school.images.split(',')">
    <img src="{{image}}" alt="" width="450px" height="450px">
  </div>
</div> -->
<app-banner></app-banner>
<div class="row">
  <div class="main">
    <div class="container">
      <div class="row">
        <div class="cd-section" id="teams">
          <div class="team-1" id="team-1">
            <div class="container">
              <div class="row">
                <div class="col-md-6 text-left">
                  <a class="btn btn-large btn-primary" *ngIf="(user | async)?.uid != null" (click)="addNewBlog()">Add new blog</a>
                </div>
                <div class="col-md-6 text-right">
                    <a class="btn btn-large btn-danger" (click)="logout()">Logout</a>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 text-center">
                  <h2 class="text-center">Contacted People Details</h2>
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Email</th>
                          <th>Mobile</th>
                          <th>Message</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let contact of contacts">
                          <td class="text-left">{{contact.name}}</td>
                          <td class="text-left">{{contact.email}}</td>
                          <td class="text-left">{{contact.mobile}}</td>
                          <td class="text-left">{{contact.message}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
