<form id="blog-form" #myForm="ngForm" (submit)="onSubmit(myForm)">
  <div class="card-content">
    <div class="row">
      <div class="col-md-8">
        <div class="form-group label-floating">
          <label class="control-label">Title</label>
          <input class="form-control" type="text" [(ngModel)]="title" name="title" required>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group label-floating">
          <label class="control-label">Category</label>
          <input class="form-control" type="text" [(ngModel)]="categoryName" name="categoryName" required>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group label-floating">
          <label class="control-label">Blog Content</label>
          <input class="form-control" type="text" [(ngModel)]="body" name="body" required>
        </div>
      </div>
      <div class="col-md-12">
        <button type="submit" class="btn btn-primary">Send Message</button>
      </div>
    </div>
  </div>
</form>
<br><br><br><br><br>
<flash-messages></flash-messages>
