<app-banner></app-banner>
<div class="row">
  <div class="main">
    <div class="container">
      <div class="row">
        <div class="container">
          <div class="cd-section">
            <div class="blogs-1">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <h1 class="text-center">Budget Application Development</h1>
                    <br />
                    <div class="card card-plain card-blog">
                      <div class="row">
                        <div class="col-md-5">
                          <div class="card-image">
                            <img class="img img-raised" src="./assets/img/subject/mean-cycle.jpg" />
                          </div>
                        </div>
                        <div class="col-md-7">
                          <h6 class="category text-info">Confused</h6>
                          <h3 class="card-title">What is Budget Application?
          								</h3>
                          <p>
                            It comes under your budget. The application would be similiar to the enterprise application but the technology stack would be different. Here we use PHP, Apache, MariaDB/MySQL, Perl. <br><br> PHP is in fact, one of the most
                            popularly used languages for web development as well as web application development. <br><br>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="card card-plain card-blog">
                      <div class="row">
                        <div class="col-md-7">
                          <h6 class="category text-danger">
          									Not Sure
          								</h6>
                          <h3 class="card-title">Why Budget Application?
          								</h3>
                          <p>
                            If you are start up and low on budget, though you need a application to represent your business. We build it on your budget. We don't compromise on the quality. <br><br> Even If you have an application, we optimize the speed
                            and performance in no time. We also make your application secure and host in cloud platform.
                          </p>
                        </div>
                        <div class="col-md-5">
                          <div class="card-image">
                            <img class="img img-raised" src="./assets/img/subject/mean-cycle.jpg" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
