<app-banner></app-banner>
<div class="row">
  <div class="main">
    <div class="container">
      <div class="row">
        <div class="container">
          <div class="cd-section">
            <div class="blogs-1">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <h1 class="text-center">e-Commerce Website</h1>
                    <br />
                    <div class="card card-plain card-blog">
                      <div class="row">
                        <div class="col-md-5">
                          <div class="card-image">
                            <img class="img img-raised" src="./assets/img/subject/mean-cycle.jpg" />
                          </div>
                        </div>
                        <div class="col-md-7">
                          <h6 class="category text-info">Confused</h6>
                          <h3 class="card-title">What is an e-Commerce Website?
          								</h3>
                          <ul>
                            <li>e- Commerce (electronic commerce or EC) is the buying and selling of goods and services, or the transmitting of funds or data, over an electronic network, primarily the internet.</li>
                            <li>These business transactions occur either as business-to-business, business-to-consumer, consumer-to-consumer or consumer-to-business. </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="card card-plain card-blog">
                      <div class="row">
                        <div class="col-md-7">
                          <h6 class="category text-danger">
          									Not Sure
          								</h6>
                          <h3 class="card-title">Why e-Commerce?
          								</h3>
                          <ul>
                            <li>e-Commerce websites these days are built using sophisticated shopping cart software that’s both easy for potential customers to navigate and make purchases using, but is also easy for business owners to update.</li>
                            <li>There are plenty of small business owners with stores who don’t actually consider the benefits of offering products or services for sale online; however, many are finding that it’s almost crucial to the success of their business to be able to offer their products further afield.</li>
                            <li>e-Commerce websites are only going to become more popular as time passes. With technology progressing the way it is, and with people’s lives not getting any less busy, more and more people will shop online, and many traditional businesses will struggle unless they keep up.</li>
                          </ul>
                        </div>
                        <div class="col-md-5">
                          <div class="card-image">
                            <img class="img img-raised" src="./assets/img/subject/mean-cycle.jpg" />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card card-plain card-blog">
                      <div class="row">
                        <div class="col-md-5">
                          <div class="card-image">
                            <img class="img img-raised" src="./assets/img/subject/mean-cycle.jpg" />
                          </div>
                        </div>
                        <div class="col-md-7">
                          <h6 class="category text-info">
          									Big Help
          								</h6>
                          <h3 class="card-title">How e-Commerce Helps?
          								</h3>
                          <ul>
                            <li>With ecommerce, the sky’s the limit when it comes to your target audience.</li>
                            <li>No longer do you have to be confined by the limits of your local vicinity.</li>
                            <li>You can reach any location in the world and take advantage of new opportunities.</li>
                            <li>With increased visibility and sales, you will generate more money, too.</li>
                            <li>Of course, it’s still important to have specific audiences you want to target, but now they can expand beyond your geographical limits.</li>
                            <li>The world never stops, and ecommerce is no exception. It runs all the time. From your point of view, this is a major advantage because you can be selling products while you sleep.</li>
                            <li>A final way that ecommerce can help your business grow is by providing customers with endless features that make their shopping experience positive. Rather than pushing a shopping cart down an aisle, buyers can easily find the goods they are looking for with search tools. They can also compare shop, allowing them to find the product with the best features at the best price (which will hopefully be yours!).</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="card card-plain card-blog">
                      <div class="row">
                        <div class="col-md-7">
                          <h6 class="category text-success">
          									Wow So Many
          								</h6>
                          <h3 class="card-title">Who Else Use?
          								</h3>
                          <div>
                            e-Commerce is used by many companies. Among them few big companies are listed here. Check these websites.
                            <h6>
            									<span class="text-primary"><b>Amazon</b></span>
            								</h6>
                            <h6>
            									<span class="text-primary"><b>Alibaba</b></span>
            								</h6>
                            <h6>
            									<span class="text-primary"><b>eBay</b></span>
            								</h6>
                            <h6>
            									<span class="text-primary"><b>Flipkart</b></span>
            								</h6>
                            <h6>
            									<span class="text-primary"><b>TataCliq</b></span>
                            </h6>
                          </div>
                        </div>
                        <div class="col-md-5">
                          <div class="card-image">
                            <img class="img img-raised" src="./assets/img/subject/mean-cycle.jpg" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
