<app-banner></app-banner>
<div class="row">
  <div class="main">
    <div class="container">
      <div class="row">
        <div class="container">
          <div class="cd-section">
            <div class="blogs-1">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <h1 class="text-center">CMS Websites</h1>
                    <br />
                    <div class="card card-plain card-blog">
                      <div class="row">
                        <div class="col-md-5">
                          <div class="card-image">
                            <img class="img img-raised" src="./assets/img/subject/mean-cycle.jpg" />
                          </div>
                        </div>
                        <div class="col-md-7">
                          <h6 class="category text-info">Confused</h6>
                          <h3 class="card-title">What is CMS?
          								</h3>
                          <ul>
                            <li>CMS is Content Management System.</li>
                            <li>It allows you to control and manage the content within your web site.</li>
                            <li>Which means you can control your website within no time and less learning.</li>
                            <li>Using this CMS you can easily add, edit, delete images and edit text in your website on the fly.</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="card card-plain card-blog">
                      <div class="row">
                        <div class="col-md-7">
                          <h6 class="category text-danger">
          									Not Sure
          								</h6>
                          <h3 class="card-title">Why CMS?
          								</h3>
                          <ul>
                            <li>You can give your employees user rights to whom to edit and whom to publish the content.</li>
                            <li>You can easily govern your content.</li>
                            <li>Making the management and upkeep of your website a coding-free non-technical task helps you get updates live faster, and also opens your site to more content from a larger group of contributors.</li>
                            <li>A content management system doesn’t just protect your website from overly enthusiastic content editors.</li>
                            <li>Installed as an application behind your firewall, a decoupled CMS can also ensure that your site is more secure and can’t be easily exploited by hackers.</li>
                          </ul>
                        </div>
                        <div class="col-md-5">
                          <div class="card-image">
                            <img class="img img-raised" src="./assets/img/subject/mean-cycle.jpg" />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card card-plain card-blog">
                      <div class="row">
                        <div class="col-md-5">
                          <div class="card-image">
                            <img class="img img-raised" src="./assets/img/subject/mean-cycle.jpg" />
                          </div>
                        </div>
                        <div class="col-md-7">
                          <h6 class="category text-info">
          									Big Help
          								</h6>
                          <h3 class="card-title">How CMS Helps?
          								</h3>
                          <ul>
                            <li>A content management system is not required for running a website, but it makes that job infinitely easier, and the time spent running the site more productive.</li>
                            <li>If your website is critical to growing demand and sales for your business, implementing a CMS can help you effectively scale your website and digital marketing efforts.</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="card card-plain card-blog">
                      <div class="row">
                        <div class="col-md-7">
                          <h6 class="category text-success">
          									Wow So Many
          								</h6>
                          <h3 class="card-title">Who Else Use?
          								</h3>
                          <ul>
                            <li>CMS is widely used by many entrepreneurs and small to medium scale business people.</li>
                          </ul>
                        </div>
                        <div class="col-md-5">
                          <div class="card-image">
                            <img class="img img-raised" src="./assets/img/subject/mean-cycle.jpg" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
