<app-banner></app-banner>
<div class="row">
  <div class="main">
    <div class="container">
      <div class="row">
        <div class="container">
          <div class="cd-section">
            <div class="blogs-1">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <h1 class="text-center">Digital Marketing</h1>
                    <br />
                    <div class="card card-plain card-blog">
                      <div class="row">
                        <div class="col-md-5">
                          <div class="card-image">
                            <img class="img img-raised" src="./assets/img/subject/mean-cycle.jpg" />
                          </div>
                        </div>
                        <div class="col-md-7">
                          <h6 class="category text-info">Confused</h6>
                          <h3 class="card-title">What is Digital Marketing?
          								</h3>
                          <p>
                            At a high level, digital marketing refers to advertising delivered through digital channels such as search engines, websites, social media, email, and mobile apps. While this term covers a wide range of marketing activities, all of which are not universally
                            agreed upon, we’ll focus on the most common types below.
                          </p>
                          <h4>
                            <span class="text-primary"><b>Paid Search</b></span> - Paid search, or pay-per-click (PPC) advertising, typically refers to the “sponsored result” on the top or side of a search engine results page (SERP). You only pay when your ad is clicked. You can tailor your PPC ads to appear when specific search terms are entered, creating ads that are targeted to a particular audience. <br><br>
                            PPC ads are flexible, visible, and most importantly, effective for many different types of organizations. They are also contextual advertisements—ads that appear when a person is searching for a particular keyword or term.
                          </h4>
                          <h4>
                            <span class="text-primary"><b>Search Engine Optimization</b></span> - Simply put, search engine optimization (SEO) is the process of optimizing the content, technical set-up, and reach of your website so that your pages appear at the top of a search engine result for a specific set of keyword terms. Ultimately, the goal is to attract visitors to your website when they search for products, services, or information related to your business. <br><br>
                            SEO can almost be viewed as a set of best practices for good digital marketing. It enforces the need for a well-constructed and easy-to-use website, valuable and engaging content, and the credibility for other websites and individuals to recommend you by linking to your site or mentioning it in social media posts.
                          </h4>
                          <h4>
                            <span class="text-primary"><b>Content Marketing</b></span> - Have you heard the expression, “Content is king?” If not, you have now. Great content is the fuel that drives your digital marketing. <br><br>
                            Creating clever content that is not promotional in nature, but instead educates and inspires, is tough but well worth the effort. Offering content that is relevant to your audience helps them see you as a valuable source of information. On top of that, resourceful content makes it less likely that they will tune you out.
                          </h4>
                          <h4>
                            <span class="text-primary"><b>Social Media Marketing</b></span> - People aren’t just watching cat videos and posting selfies on social media these days. Many rely on social networks to discover, research, and educate themselves about a brand before engaging with that organization. For marketers, it’s not enough to just post on your Facebook and Twitter accounts. You must also weave social elements into every aspect of your marketing and create more peer-to-peer sharing opportunities. The more your audience wants to engage with your content, the more likely it is that they will want to share it. This ultimately leads to them becoming a customer. And as an added bonus, they will hopefully influence their friends to become customers, too.
                          </h4>
                          <h4>
                            <span class="text-primary"><b>Email Marketing</b></span> - Email has been around for more than two decades, and it’s not going anywhere anytime soon. It’s still the quickest and most direct way to reach customers with critical information. The reason is simple: Consumers are very attached to their emails. Just ask yourself how many times you have checked your email in the past hour...See what we mean? <br><br>
                            But great marketers know that not just any email will do. Successful email campaigns must be engaging, relevant, informative, and entertaining. To succeed, your marketing emails should satisfy these five core attributes: <br/>
                            <ul>
                              <li>Trustworthy</li>
                              <li>Relevant</li>
                              <li>Conversational</li>
                              <li>Be coordinated across channels</li>
                              <li>Strategic </li>
                            </ul>
                          </h4>
                          <h4>
                            <span class="text-primary"><b>Mobile Marketing</b></span> - As mobile devices become an increasingly integral part of our lives, it’s vital that marketers understand how to effectively communicate on this unique and extremely personal channel. Mobile devices are kept in our pockets, sit next to our beds, and are checked constantly throughout the day. This makes marketing on mobile incredibly important but also very nuanced. <br><br>
                            From SMS and MMS to in-app marketing, there are many ways to market on mobile devices, so finding the right method for your particular business is key. Beyond the mechanisms to deliver your message, you also need to think about coordination of your marketing across digital channels and make sure mobile is a part of that mix.
                          </h4>
                          <h4>
                            <span class="text-primary"><b>Marketing Automation</b></span> - Marketing automation is an integral platform that ties all of your digital marketing together. Without it, your campaigns will look like an unfinished puzzle with a crucial missing piece. Marketing automation software streamlines and automates marketing tasks and workflows. Most importantly, it measures the results and ROI of your digital campaigns, helping you to grow revenue faster. <br><br>
                            When used effectively, marketing automation will help you gain much-needed insight into which programs are working and which aren’t. It will give you the metrics needed to speak confidently about digital marketing’s impact on the bottom line.
                          </h4>
                        </div>
                      </div>
                    </div>
                    <div class="card card-plain card-blog">
                      <div class="row">
                        <div class="col-md-7">
                          <h6 class="category text-danger">
          									Not Sure
          								</h6>
                          <h3 class="card-title">Why Digital Marketing?
          								</h3>
                          <ul>
                            <li>Gone are the days when business owners still welcome the notion that Digital Marketing is only for the likes of multinationals and large corporations that have the sufficient resources required to mount an online marketing
                              campaign.</li>
                            <li>Digital Marketing actually levels the playing field, providing small and medium enterprises the chance to compete against the big boys and attract their share of targeted traffic.</li>
                            <li>With digital marketing, small companies now have the resources to perform sales and marketing processes that were previously available only to large corporations.</li>
                            <li>Without a call center, small businesses can engage effectively with multiple customers, even to customers from any parts of the world even if they don’t have physical stores or branches in these locations.</li>
                          </ul>
                        </div>
                        <div class="col-md-5">
                          <div class="card-image">
                            <img class="img img-raised" src="./assets/img/subject/mean-cycle.jpg" />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card card-plain card-blog">
                      <div class="row">
                        <div class="col-md-5">
                          <div class="card-image">
                            <img class="img img-raised" src="./assets/img/subject/mean-cycle.jpg" />
                          </div>
                        </div>
                        <div class="col-md-7">
                          <h6 class="category text-info">
          									Big Help
          								</h6>
                          <h3 class="card-title">How Digital Marketing Helps?
          								</h3>
                          <p>
                            Small Businesses have very little resources and even capitalization. This is why Digital Marketing provides them with a better and much more cost-effective marketing channel that delivers results. <br><br> The power of digital
                            marketing lies in its ability for attracting targeted traffic. These types of audiences for your content are most likely already ready to know more about your brand, products or services and may be interested enough to purchase
                            what you have to offer. Delivering on what you promised will help you develop a better relationship with your targeted audiences, help them transition into paying customers that will go back and interact with your site some
                            more – on a regular and continuous basis. <br><br> This will prove beneficial for your brand reputation, as satisfied customers will most likely tell other people about their experience with your brand, product or service.
                            Your brand reputation will go viral as expected, further opening new doors of opportunities for reaching bigger markets and attain business growth.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="card card-plain card-blog">
                      <div class="row">
                        <div class="col-md-7">
                          <h6 class="category text-success">
          									Wow So Many
          								</h6>
                          <h3 class="card-title">Who Else Use?
          								</h3>
                          <div>
                            Every Company / Organization uses Digital Marketing to promote their business, their products and their ideas too.
                          </div>
                        </div>
                        <div class="col-md-5">
                          <div class="card-image">
                            <img class="img img-raised" src="./assets/img/subject/mean-cycle.jpg" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
