<section class="page-header" style="background-image: url('./assets/img/sanjay-nagar-map.png');">
	<div class="contactus-2">
		<div class="col-md-6">
			<div class="card card-contact card-raised">
				<div class="header header-primary header-raised text-center">
					<h4 class="card-title">Contact Us</h4>
				</div>
				<div class="card-content">
					<div class="row">
						<div class="col-md-6">
							<div class="info info-horizontal">
								<div class="icon icon-primary">
									<i class="material-icons">phone</i>
								</div>
								<div class="description">
									<h5 class="info-title">Give us a ring</h5>
									<p> AIOBEE Front Desk<br> +91 7676480122<br> Mon - Sun, 9:30 AM - 08:00 PM
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="info info-horizontal">
								<div class="icon icon-primary">
									<i class="material-icons">pin_drop</i>
								</div>
								<div class="description">
									<h5 class="info-title">Find us at the office</h5>
									<p> Near Vaibhav theatre,<br> Sanjay Nagar Main Rd,<br> Sanjay Nagar,<br> Bangalore
									</p>
								</div>
							</div>
						</div>
					</div>
					<app-contact-form></app-contact-form>
				</div>
			</div>
		</div>
	</div>
</section>
