<app-banner></app-banner>
<div class="row">
  <div class="main">
    <div class="container">
      <div class="row">
        <div class="container">
          <div class="cd-section">
            <div class="blogs-1">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <h1 class="text-center">JAVA STACK Application Development</h1>
                    <br />
                    <div class="card card-plain card-blog">
                      <div class="row">
                        <div class="col-md-5">
                          <div class="card-image">
                            <img class="img img-raised" src="./assets/img/subject/mean-cycle.jpg" />
                          </div>
                        </div>
                        <div class="col-md-7">
                          <h6 class="category text-info">Confused</h6>
                          <h3 class="card-title">What is Java Application?
          								</h3>
                          <p>
                            Java applications are the most popular, secure and cross-platform applications. Applications are fast, secure to
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="card card-plain card-blog">
                      <div class="row">
                        <div class="col-md-7">
                          <h6 class="category text-danger">
          									Not Sure
          								</h6>
                          <h3 class="card-title">Why MEAN?
          								</h3>
                          <p>
                            MEAN is based on One Language - One Complate Package. Its an entire package for building great website and web applications. Its very easy to maintain, collaborate with your team. You can deploy in any Operating System like Unix, Linux, Windows or even
                            in Mac Os X.
                          </p>
                        </div>
                        <div class="col-md-5">
                          <div class="card-image">
                            <img class="img img-raised" src="./assets/img/subject/mean-cycle.jpg" />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card card-plain card-blog">
                      <div class="row">
                        <div class="col-md-5">
                          <div class="card-image">
                            <img class="img img-raised" src="./assets/img/subject/mean-cycle.jpg" />
                          </div>
                        </div>
                        <div class="col-md-7">
                          <h6 class="category text-info">
          									Big Help
          								</h6>
                          <h3 class="card-title">How MEAN Helps?
          								</h3>
                          <p>
                            MEAN application helps your customers feel more happy on the speed it loads as they search your application and load it in the browser. The faster it loads the most happy is the customer. It not only loads faster, once it is loaded after that there would
                            be no reload of the page. There will be flow of the pages in your application.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="card card-plain card-blog">
                      <div class="row">
                        <div class="col-md-7">
                          <h6 class="category text-success">
          									Wow So Many
          								</h6>
                          <h3 class="card-title">Who Else Use?
          								</h3>
                          <div>
                            MEAN is used by many companies. Among them few big companies are listed here. Check these websites.
                            <h4 class="category">
            									<span class="text-primary"><b>LinkedIn</b></span> - LinkedIn is one among the many other companies who uses MEAN stack application.
            								</h4>
                            <h4 class="category">
            									<span class="text-primary"><b>ZipLoop</b></span> - ZipLoop is one among the many other companies who uses MEAN stack application.
            								</h4>
                            <h4 class="category">
            									<span class="text-primary"><b>SartHQ</b></span> - StartHQ is one among the many other companies who uses MEAN stack application.
            								</h4>
                            <h4 class="category">
            									<span class="text-primary"><b>MEAN.IO</b></span> - MEAN.IO is one among the many other companies who uses MEAN stack application.
            								</h4>
                            <h4 class="category">
            									<span class="text-primary"><b>OpenGraph.io</b></span> - OpenGraph.io is one among the many other companies who uses MEAN stack application.
            								</h4>
                          </div>
                        </div>
                        <div class="col-md-5">
                          <div class="card-image">
                            <img class="img img-raised" src="./assets/img/subject/mean-cycle.jpg" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
