.carousel-caption{
  top: 10vh;
  width: 550px;
  text-align: left;
}
.carousel .carousel-indicators{
	bottom: 55px;
}

img.img-responsive{
  width: 100%;
}
@media only screen and (max-width: 720px) {
  .carousel-caption{
    display: none;
  }
  img.img-responsive{
    margin-top: 70px;
    /*width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: right;*/
  }
}
