<div class="row">
  <div id="myCarousel" class="carousel slide" data-ride="carousel"  data-interval="10000">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
      <li data-target="#myCarousel" data-slide-to="5"></li>
      <li data-target="#myCarousel" data-slide-to="6"></li>
      <li data-target="#myCarousel" data-slide-to="7"></li>
      <li data-target="#myCarousel" data-slide-to="8"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <div class="item active">
        <img src="./assets/img/mean-banner.jpg" alt="MEAN app Development" class="hidden-xs img-responsive">
        <div class="carousel-caption">
          <h1>Web Application Development</h1>
          <h3>Develop lightning fast application along with Graphs of your application. Take your business into the futuristic era</h3>
          <a [routerLink]="['/services/mean']" fragment="mean" (click)="onAnchorClick()" class="btn btn-large btn-success">Know More</a>
        </div>
      </div>

      <div class="item">
        <img src="./assets/img/java-banner.jpg" alt="Java Full Stack Development" class="hidden-xs img-responsive">
        <div class="carousel-caption">
          <h1>Enterprise Application Development</h1>
          <h3>Build enterprise application using Java with high secure and fast transitions. High Performance, rigid application &amp; much more...</h3>
          <a [routerLink]="['/services']" fragment="java" (click)="onAnchorClick()" class="btn btn-large btn-success">Know More</a>
        </div>
      </div>

      <div class="item">
        <img src="./assets/img/mobile-banner.jpg" alt="Mobile App Development" class="hidden-xs img-responsive">
        <div class="carousel-caption">
          <h1>Get into Mobility</h1>
          <h3>Take your business through mobile. We build application in Android, iOs, Windows and every Mobile OS.</h3>
          <a [routerLink]="['/services']" fragment="mobile" (click)="onAnchorClick()" class="btn btn-large btn-success">Know More</a>
        </div>
      </div>

      <div class="item">
        <img src="./assets/img/cms-banner.jpg" alt="Content Management System" class="hidden-xs img-responsive">
        <div class="carousel-caption">
          <h1>Manage Your Own Website</h1>
          <h3>We build your website, add your own content. Manage your website yourself, You will love managing it.</h3>
          <a [routerLink]="['/services']" fragment="cms" (click)="onAnchorClick()" class="btn btn-large btn-success">Know More</a>
        </div>
      </div>

      <div class="item">
        <img src="./assets/img/ecommerce-banner.jpg" alt="E-Commerce website" class="hidden-xs img-responsive">
        <div class="carousel-caption">
          <h1>Run business online</h1>
          <h3>We show you the path to do online business, never loose your customers. Let they get your products from anywhere</h3>
          <a [routerLink]="['/services']" fragment="ecommerce" (click)="onAnchorClick()" class="btn btn-large btn-success">Know More</a>
        </div>
      </div>

      <div class="item">
        <img src="./assets/img/xampp-banner.jpg" alt="PHP Web Application" class="hidden-xs img-responsive">
        <div class="carousel-caption">
          <h1>Cost Cutting Application</h1>
          <h3>Want a ennterprise ready application. Worried about pricing in the market. We give you better solution in PHP stack</h3>
          <a [routerLink]="['/services']" fragment="xampp" (click)="onAnchorClick()" class="btn btn-large btn-success">Know More</a>
        </div>
      </div>

      <div class="item">
        <img src="./assets/img/cloud-banner.jpg" alt="Cloud Deployment" class="hidden-xs img-responsive">
        <div class="carousel-caption">
          <h1>We Take You To Cloud</h1>
          <h3>We are pioneer in building and launching applications in Cloud providers. Your application is secure and scalanle to take on trafic.</h3>
          <a [routerLink]="['/services']" fragment="cloud" (click)="onAnchorClick()" class="btn btn-large btn-success">Know More</a>
        </div>
      </div>


      <div class="item">
        <img src="./assets/img/digital-marketing-banner.jpg" alt="Digital Marketing" class="hidden-xs img-responsive">
        <div class="carousel-caption">
          <h1>Get Business Through Online</h1>
          <h3>We help you to get business through social media, online ads and search engine. There is no one better than us to take full advantage of digital marketing.</h3>
          <a [routerLink]="['/services']" fragment="search" (click)="onAnchorClick()" class="btn btn-large btn-success">Know More</a>
        </div>
      </div>

      <div class="item">
        <img src="./assets/img/branding-banner.jpg" alt="Company Branding" class="hidden-xs img-responsive">
        <div class="carousel-caption">
          <h1>Build Your Brand</h1>
          <h3>We build your organizations brand. We also redifine your brand. We give you new shape of your brand. Your customers will love it.</h3>
          <a [routerLink]="['/services']" fragment="branding" (click)="onAnchorClick()" class="btn btn-large btn-success">Know More</a>
        </div>
      </div>

    </div>

    <!-- Left and right controls -->

    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <i class="material-icons">keyboard_arrow_left</i>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <i class="material-icons">keyboard_arrow_right</i>
    </a>
  </div>
</div>
