<app-banner></app-banner>
<div class="row">
  <div class="main">
    <div class="container">
      <div class="row">
        <div class="container">
          <div class="cd-section">
            <div class="blogs-1">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <h1 class="text-center">Cloud Computing</h1>
                    <br />
                    <div class="card card-plain card-blog">
                      <div class="row">
                        <div class="col-md-5">
                          <div class="card-image">
                            <img class="img img-raised" src="./assets/img/subject/mean-cycle.jpg" />
                          </div>
                        </div>
                        <div class="col-md-7">
                          <h6 class="category text-info">Confused</h6>
                          <h3 class="card-title">What is Cloud Computing?
          								</h3>
                          <p>
                            It is the practice of using a network of remote servers hosted on the Internet ("the cloud") to store, manage, and process data, rather than a local server or a personal computer.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="card card-plain card-blog">
                      <div class="row">
                        <div class="col-md-7">
                          <h6 class="category text-danger">
          									Not Sure
          								</h6>
                          <h3 class="card-title">Why Cloud Computing?
          								</h3>
                          <ul>
                            <li><span class="text-primary">Infrastructure as a service (IaaS) and platform as a service (PaaS)</span><br> When it comes to IaaS, using an existing infrastructure on a pay-per-use scheme seems to be an obvious choice for companies
                              saving on the cost of investing to acquire, manage and maintain an IT infrastructure. There are also instances where organizations turn to PaaS for the same reasons while also seeking to increase the speed of development
                              on a ready-to-use platform to deploy applications.
                            </li>
                            <li><span class="text-primary">Private cloud and hybrid cloud</span><br />Among the many incentives for using cloud, there are two situations where organizations are looking into ways to assess some of the applications they intend
                              to deploy into their environment through the use of a cloud (specifically a public cloud). While in the case of test and development it may be limited in time, adopting a hybrid cloud approach allows for testing application
                              workloads, therefore providing the comfort of an environment without the initial investment that might have been rendered useless should the workload testing fail. <br><br> Another use of hybrid cloud is also the ability
                              to expand during periods of limited peak usage, which is often preferable to hosting a large infrastructure that might seldom be of use. An organization would seek to have the additional capacity and availability of an environment
                              when needed on a pay-as you-go basis.</li>
                            <li><span class="text-primary">Test and development</span><br />The best scenario for the use of a cloud is a test and development environment. This entails securing a budget, setting up your environment through physical assets,
                              significant manpower and time. Then comes the installation and configuration of your platform. All this can often extend the time it takes for a project to be completed and stretch your milestones. <br><br> With cloud computing,
                              there are now readily available environments tailored for your needs at your fingertips. This often combines, but is not limited to, automated provisioning of physical and virtualized resources.</li>
                            <li><span class="text-primary">Big data analytics</span><br />One of the aspects offered by leveraging cloud computing is the ability to tap into vast quantities of both structured and unstructured data to harness the benefit of
                              extracting business value. <br><br> Retailers and suppliers are now extracting information derived from consumers’ buying patterns to target their advertising and marketing campaigns to a particular segment of the population.
                              Social networking platforms are now providing the basis for analytics on behavioral patterns that organizations are using to derive meaningful information.</li>
                            <li><span class="text-primary">File storage</span><br>Cloud can offer you the possibility of storing your files and accessing, storing and retrieving them from any web-enabled interface. The web services interfaces are usually
                              simple. At any time and place you have high availability, speed, scalability and security for your environment. In this scenario, organizations are only paying for the amount of storage they are actually consuming, and do
                              so without the worries of overseeing the daily maintenance of the storage infrastructure. <br><br> There is also the possibility to store the data either on or off premises depending on the regulatory compliance requirements.
                              Data is stored in virtualized pools of storage hosted by a third party based on the customer specification requirements.</li>
                            <li><span class="text-primary">Disaster recovery</span><br>This is yet another benefit derived from using cloud based on the cost effectiveness of a disaster recovery (DR) solution that provides for a faster recovery from a mesh
                              of different physical locations at a much lower cost that the traditional DR site with fixed assets, rigid procedures and a much higher cost.</li>
                            <li><span class="text-primary">Backup</span><br>Backing up data has always been a complex and time-consuming operation. This included maintaining a set of tapes or drives, manually collecting them and dispatching them to a backup
                              facility with all the inherent problems that might happen in between the originating and the backup site. This way of ensuring a backup is performed is not immune to problems such as running out of backup media , and there
                              is also time to load the backup devices for a restore operation, which takes time and is prone to malfunctions and human errors. <br><br> Cloud-based backup, while not being the panacea, is certainly a far cry from what it
                              used to be. You can now automatically dispatch data to any location across the wire with the assurance that neither security, availability nor capacity are issues. <br><br> While the list of the above uses of cloud computing
                              is not exhaustive, it certainly give an incentive to use the cloud when comparing to more traditional alternatives to increase IT infrastructure flexibility , as well as leverage on big data analytics and mobile computing.</li>
                          </ul>
                        </div>
                        <div class="col-md-5">
                          <div class="card-image">
                            <img class="img img-raised" src="./assets/img/subject/mean-cycle.jpg" />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card card-plain card-blog">
                      <div class="row">
                        <div class="col-md-5">
                          <div class="card-image">
                            <img class="img img-raised" src="./assets/img/subject/mean-cycle.jpg" />
                          </div>
                        </div>
                        <div class="col-md-7">
                          <h6 class="category text-info">
          									Big Help
          								</h6>
                          <h3 class="card-title">How Cloud Computing Helps?
          								</h3>
                          <ul>
                            <li><span class="text-primary">Improved collaboration</span><br>Cloud-based programs can be used at any time on almost any device with an Internet connection, a benefit that leads to greater collaboration, particularly for businesses
                              with remote employees. <br><br> Using Cloud-based software, teams in different locations can collaborate on documents without needing to e-mail attachments and share calendars and task lists from wherever they are. Participants
                              just sign up for the service and access the program over the Internet, without downloading or installing program software. <br><br> Employees also can connect through instant messaging and even hold impromptu meetings with
                              robust audio, video and Web conferencing capabilities. Some Cloud-based services even make it possible to include customers and vendors in these meetings. This improved sharing of information has the potential to enable your
                              company to react more quickly to business opportunities.</li>
                            <li><span class="text-primary">Managing growth</span><br>Cloud resources are scalable, or elastic, so you can tap resources or increase capacity to support growth and handle busy periods. One of the most challenging aspects of running a small company is predicting what resources your business will need—enough to scale and take advantage of opportunities, but not so much that you overspend. With Cloud resources, rather than having to predict your needs, you can react to needs as they arise and use just what is required to manage your growth and enhance your efficiency. For example, if customer and project demands require increased collaboration, you can access collaboration tools quickly and without advanced planning. Your flexibility as an organization rises when you work in the Cloud because your ability to react is greatly improved.</li>
                            <li><span class="text-primary">Lower costs</span><br>Cloud-based services can help you save money on many fronts, including server maintenance, power and cooling costs, and software licensing and upgrade expenses. Rather than spending money to maintain hardware that often goes unused, subscribing to software and services for a low monthly fee can help small businesses stretch their budgets further. Along with the ability to scale up to meet increased demand, the Cloud also allows you to scale down during slower periods (e.g., remove users or use less storage space), saving your business money.</li>
                            <li><span class="text-primary">Secure data backup</span><br>If you don’t have the time or resources to implement a backup strategy—or if you keep your backed-up data on-site—the Cloud can help ensure you are able to retrieve the latest versions of your data in case of an on-site system failure or a disaster, such as fire or flood. You can choose a Cloud-based service to back up your data frequently or automatically to a safe online location, so that if the unexpected happens, you can be back up and running within minutes. Many providers offer geo-redundant backup, meaning your data is saved in multiple centers across multiple locations, to improve security.</li>
                            <li><span class="text-primary">Greater reliability</span><br>Cloud-based services often can be more reliable than services delivered on-premise, particularly if servers or other hardware are aging. Cloud service providers have a dedicated, experienced IT staff—meaning they can likely resolve problems faster than a small business with only limited IT resources.</li>
                            <li><span class="text-primary">Eased resource management</span><br>With servers located off-site and their management left to an experienced provider, Cloud computing allows you to focus on what you do best—running your business. Because resources in the Cloud can be accessed as needed, the time it takes to get started with these services shrinks from days to minutes. For small businesses wanting to stretch their resources and be more competitive, working in the Cloud is becoming a must.</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="card card-plain card-blog">
                      <div class="row">
                        <div class="col-md-7">
                          <h6 class="category text-success">
          									Wow So Many
          								</h6>
                          <h3 class="card-title">Who Else Use?
          								</h3>
                          <div>
                            Most of the organization, even the small scale and big scale companies they are using the cloud computing services either file storage or as a data back up or everything.
                          </div>
                        </div>
                        <div class="col-md-5">
                          <div class="card-image">
                            <img class="img img-raised" src="./assets/img/subject/mean-cycle.jpg" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
