<app-banner></app-banner>
<div class="row">
  <div class="main">
    <div class="container">
      <div class="row">
        <div class="container">
          <div class="cd-section">
            <div class="blogs-1">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <h1 class="text-center">Build Your Company Brand</h1>
                    <br />
                    <div class="card card-plain card-blog">
                      <div class="row">
                        <div class="col-md-5">
                          <div class="card-image">
                            <img class="img img-raised" src="./assets/img/subject/mean-cycle.jpg" />
                          </div>
                        </div>
                        <div class="col-md-7">
                          <h6 class="category text-info">Confused</h6>
                          <h3 class="card-title">What is Branding?
          								</h3>
                          <ul>
                            <li>Branding is to build your company a brand.</li>
                            <li>Build a logo</li>
                            <li>Build a design pattern</li>
                            <li>Build a company portfolio</li>
                            <li>Buid a tag line</li>
                            <li>Build a slogan</li>
                            <li>Stay true to your slogan</li>
                            <li>even more...</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="card card-plain card-blog">
                      <div class="row">
                        <div class="col-md-7">
                          <h6 class="category text-danger">
          									Not Sure
          								</h6>
                          <h3 class="card-title">Why Branding?
          								</h3>
                          <ul>
                            <li>Branding goes way beyond just a logo or graphic element.</li>
                            <li>When you think about your brand, you really want to think about your entire customer experience</li>
                            <li>Everything from your logo, your website, your social media experiences, the way you answer the phone</li>
                            <li>Your brand is the way your customer perceives you.</li>
                          </ul>
                        </div>
                        <div class="col-md-5">
                          <div class="card-image">
                            <img class="img img-raised" src="./assets/img/subject/mean-cycle.jpg" />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card card-plain card-blog">
                      <div class="row">
                        <div class="col-md-5">
                          <div class="card-image">
                            <img class="img img-raised" src="./assets/img/subject/mean-cycle.jpg" />
                          </div>
                        </div>
                        <div class="col-md-7">
                          <h6 class="category text-info">
          									Big Help
          								</h6>
                          <h3 class="card-title">How Branding Helps?
          								</h3>
                          <ul>
                            <li>People tend to do business with companies they are familiar with.</li>
                            <li>If your branding is consistent and easy to recognize, it can help people feel more at ease purchasing your products or services.</li>
                            <li>Your organization competes in the global economy.</li>
                            <li>A clear brand strategy provides the clarity that your staff needs to be successful.</li>
                            <li>It tells them how to act, how to win, and how to meet the organization’s goals.</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="card card-plain card-blog">
                      <div class="row">
                        <div class="col-md-7">
                          <h6 class="category text-success">
          									Wow So Many
          								</h6>
                          <h3 class="card-title">Who Else Use?
          								</h3>
                          <div>
                            <ul>
                              <li>Branding is used by every organization and company.</li>
                              <li>The best branding is built on a strong idea… an idea that you and your staff can hold on to, can commit to, and can deliver upon.</li>
                              <li>Your brand needs to permeate your entire organization.</li>
                              <li>When your organization is clear on the brand and can deliver on the promise of the brand, you will see tremendous fruit while building brand loyalty among your customer base.</li>
                            </ul>                               
                          </div>
                        </div>
                        <div class="col-md-5">
                          <div class="card-image">
                            <img class="img img-raised" src="./assets/img/subject/mean-cycle.jpg" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
