		<div class="features-3">
			<div class="row">
				<div class="col-md-6">
					<div class="phone-container">
						<img src="assets/img/sections/iphone.png" />
					</div>
				</div>
				<div class="col-md-6">
				<br><br>
				<h2 class="title">Want to have business or website online</h2>

				<div class="info info-horizontal">
					<div class="icon icon-primary">
						<i class="material-icons">extension</i>
					</div>
					<div class="description">
						<h4 class="info-title">We Build Your Business</h4>
						<p>Most of the people are in online. They get connected to smartphone, laptop and smart TVs. We build websites and applications which runs in every platform. Yes! Platform independant!</p>
					</div>
				</div>

				<div class="info info-horizontal">
					<div class="icon icon-primary">
						<i class="material-icons">child_friendly</i>
					</div>
					<div class="description">
						<h4 class="info-title">Unique Design Concepts</h4>
						<p>We present you the best designers, who are designers by birth. They have great creativity for your business. their designs talk about your business and business concept. You will love it and so your customers.</p>
					</div>
				</div>

				<div class="info info-horizontal">
					<div class="icon icon-primary">
						<i class="material-icons">watch_later</i>
					</div>
					<div class="description">
						<h4 class="info-title">On Time Delivery</h4>
						<p>One of our key quality is the delivery. We deliver your website or project On time. We strict to timely deliverables with zero tolerance on Quality and Quantity. You will surprise to see us in action.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="features-4">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<h2 class="title">Boost your business through mobile Apps</h2>
					<h5 class="description">Mobile apps take your business to the peak. Your customers could reach you frequently through Android or iOS apps.</h5>
				</div>
			</div>

			<div class="row">

				<div class="col-md-3 col-md-offset-1">
		           	<div class="info info-horizontal">
						<div class="icon icon-info">
							<i class="material-icons">code</i>
						</div>
						<div class="description">
							<h4 class="info-title">World Class Developers</h4>
							<p>We build your application using the latest stack development languages. We don't compromise on the quality of the application.</p>
						</div>
		        	</div>

					<div class="info info-horizontal">
						<div class="icon icon-danger">
							<i class="material-icons">format_paint</i>
						</div>
						<div class="description">
							<h4 class="info-title">Top Notch Designers</h4>
							<p>Unique design Quality &amp; Transitions of your app. We follow the latest I/O trends. End people will love the flow of your application.</p>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="phone-container">
						<img src="assets/img/sections/iphone2.png" />
					</div>
				</div>

				<div class="col-md-3">
					<div class="info info-horizontal">
						<div class="icon icon-primary">
							<i class="material-icons">dashboard</i>
						</div>
						<div class="description">
							<h4 class="info-title">Responsive Application</h4>
							<p>Applications we build are responsive first in the mind. One app you can use in Tablets, Mobiles &amp; even in your Smart TVs and Smart Watches</p>
						</div>
					</div>

					<div class="info info-horizontal">
						<div class="icon icon-success">
							<i class="material-icons">view_carousel</i>
						</div>
						<div class="description">
							<h4 class="info-title">Smooth Transitions</h4>
							<p>Our Engineers contribute to experience the end users a smooth and loving transitions of the applications. Your Customers love will give you revenue!</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- <div class="row">
		<div class="features-5" style="background-image: url('assets/img/bg9.jpg')">

			<div class="col-md-8 col-md-offset-2 text-center">
				<h2 class="title">Your life will be much easier</h2>
			</div>

			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="info">
							<div class="icon">
								<i class="material-icons">code</i>
							</div>
							<h4 class="info-title">For Developers</h4>
							<p>The moment you use Material Kit, you know you’ve never felt anything like it. With a single use, this powerfull UI Kit lets you do more than ever before. </p>
						</div>
					</div>

					<div class="col-sm-4">
						<div class="info">
							<div class="icon">
								<i class="material-icons">format_paint</i>
							</div>
							<h4 class="info-title">For Designers</h4>
							<p>The moment you use Material Kit, you know you’ve never felt anything like it. With a single use, this powerfull UI Kit lets you do more than ever before. </p>
						</div>
					</div>

					<div class="col-sm-4">
						<div class="info">
							<div class="icon">
								<i class="material-icons">dashboard</i>
							</div>
							<h4 class="info-title">Bootstrap Grid</h4>
							<p>The moment you use Material Kit, you know you’ve never felt anything like it. With a single use, this powerfull UI Kit lets you do more than ever before. </p>
						</div>
					</div>

				</div>

				<div class="row">

					<div class="col-sm-4">
						<div class="info">
							<div class="icon">
								<i class="material-icons">view_carousel</i>
							</div>
							<h4 class="info-title">Example Pages Included</h4>
							<p>The moment you use Material Kit, you know you’ve never felt anything like it. With a single use, this powerfull UI Kit lets you do more than ever before. </p>
						</div>
					</div>

					<div class="col-sm-4">
						<div class="info">
							<div class="icon">
								<i class="material-icons">access_time</i>
							</div>
							<h4 class="info-title">Save Time</h4>
							<p>The moment you use Material Kit, you know you’ve never felt anything like it. With a single use, this powerfull UI Kit lets you do more than ever before. </p>
						</div>
					</div>

					<div class="col-sm-4">
						<div class="info">
							<div class="icon">
								<i class="material-icons">attach_money</i>
							</div>
							<h4 class="info-title">Save Money</h4>
							<p>The moment you use Material Kit, you know you’ve never felt anything like it. With a single use, this powerfull UI Kit lets you do more than ever before. </p>
						</div>
					</div>
				</div>

			</div>
		</div>
		</div> -->
