<app-banner></app-banner>
<div class="row">
  <div class="main">
    <div class="container">
      <div class="row">
        <div class="cd-section" id="teams">
          <div class="team-1" id="team-1">
            <div class="container">
              <div class="row">
                <div class="col-md-12 text-left">
                  <a class="btn btn-large btn-warning" (click)="goBack()">Go Back</a>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                  <app-add-blog></app-add-blog>
                  <app-view-blog></app-view-blog>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
